body {
  font-family: "Lato", sans-serif, system-ui, serif;
  font-size: 1rem;
}
.max-width-800 {
  max-width: 800px;
}
.max-width-500 {
  max-width: 500px;
}
.max-width-250 {
  max-width: 250px;
}
.max-width-180 {
  max-width: 180px;
}
.max-height-400 {
  max-height: 400px;
}
.hr-before,
.hr-after {
  position: relative;
  z-index: -1;
}
.hr-before::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 35%;
  height: 2px;
  background-color: darkgrey;
}
hr {
  z-index: -1;
}
.hr-after::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 35%;
  height: 2px;
  background-color: darkgrey;
}
.text-justify {
  text-align: justify;
}

.hover:hover {
  text-decoration: underline;
}
.hover-1:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.hover-2:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.grid-2-auto {
  grid-template-columns: auto auto;
}
.un-a {
  text-decoration: none;
  color: inherit;
}
.font-wendy {
  font-family: "Wendy One", "Lato", system-ui, sans-serif, serif;
}
.outline-none {
  outline: none;
}
.scrollbar {
  scrollbar-color: #000000 #e0e0e0;
  scrollbar-width: thin;
}
.scrollbar::-webkit-scrollbar {
  height: 6px;
}
.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(32, 32, 32);
    border-radius: 1pc;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}
.avatar {
  vertical-align: middle;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}